.footer {
    height: 104px;
    margin: 0 50px;
    padding: 20px 0;
    border-top: 1px solid var(--sup-text-color);
    border-bottom: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 175px;
    height: 25px;
}

.contact-link {
    height: 25px;
}

.contact-icon {
    height: 25px;
    max-height: 25px;
}

.contact-icon:hover {
    transform: scale(1.1);
}

.thank-you {
    color: var(--main-text-color);
    font: 400 16px "Oswald", sans-serif;
    letter-spacing: 0.01em;
}