@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");


/* Content
1. Body style.
2. Header style.
3. First row style.
  3.1 Menu style.
    3.1.1 Date-picker-range style.
    3.1.2 Menu label style.
    3.1.3 Menu Help style.
    3.1.4 Menu store type and items type style.
    3.1.5 Menu buttons style
    3.1.6 Menu error messages style.
  3.2 Mini containers and graph-1 style.
    3.2.1 Mini containers style.
    3.2.2 Graph-1 style.
      3.2.2.1 Graph-1 figure style.
      3.2.2.2 Graph-1 help style.
4. Second row style.
  4.1 Synchronization style.
    4.1.1 Synchronization container style.
    4.1.2 Synchronization title style.
    4.1.3 Synchronization radioitems style.
    4.1.4 Synchronization help style.
  4.2 Graphs' 2,3,4 container style.
  4.3 Grpah's 2 container style.
  4.4 Grpah's 3,4 container style.
5. Others table style.
  5.1 Others table button style.
  5.2 Table style.
6. Third and fourth rows style.
  6.1 Third row container style.
  6.2 Style of graphs 5 and 6.
  6.3 Fourth row container style.
7. Footer style.
*/

/* 1. Body style. */
* {
  box-sizing: border-box;
}

@media (min-width: 480px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 770px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 0;
  padding: 0;
  background-image: url('/assets/texture-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

#body-container {
  position: relative;
  top: 0;
  left: 0;
  margin: 7.2px 2%;
  padding: 0;
}

/* 2. Header style. */
.pretty-container {
  border: 2px solid #7C6A5B;
  border-radius: 10px;
  background-color: #F3F3F3;
  box-shadow: 2px 2px 2px #8C7969;
}

#header-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 180px;
  padding: 10px 0.694444444%;
}

#logo-header-lang {
  position: relative;
  top: 0;
  left: 0;
  height: 73px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#plotly-logo {
  flex: 1 1 14.3333334%;
  align-items: flex-start;
}

#header-text {
  flex: 4.42 1 63.3333334%;
  margin: 0 2.08333333% 0 2.08333333%;
  line-height: 73px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

#header-text::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 30%;
  width: 40%;
  height: 2px;
  background-color: #7C6A5B;
  z-index: 1;
}

#language-seletor-container {
  flex: 1 1 14.3333334%;
  height: 37px;
}

.tooltip-text {
  visibility: hidden;
  position: absolute;
  bottom: -15px;
  right: 0;
  width: 400px;
  background-color: #FAEAD9;
  color: black;
  text-align: justify;
  padding: 0px 5px;
  border: 0.9px solid #7C6A5B;
  border-radius: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  z-index: 1
}

#language-seletor-container:hover .tooltip-text {
  visibility: visible;
}

.tooltip-text::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 80%;
  margin-top: -20px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #7C6A5B transparent;
}

#language-selector .Select-control,
#category-choose .Select-control,
#item-choose .Select-control {
  border: 0.9px solid #7C6A5B;
  border-radius: 5px;
  height: auto;
}

#language-selector .Select.is-focused:not(.is-opened) > .Select-control,
#category-choose .Select.is-focused:not(.is-opened) > .Select-control,
#item-choose .Select.is-focused:not(.is-opened) > .Select-control  {
  border: 1.5px solid #7C6A5B;
  border-color: #7C6A5B;
  box-shadow: 0px 0px 0px #fff;
}

#language-selector .Select-arrow-zone:hover > .Select-arrow,
#category-choose .Select-arrow-zone:hover > .Select-arrow,
#item-choose .Select-arrow-zone:hover > .Select-arrow {
  border-top-color: black;
}

#language-selector .Select-menu-outer,
#category-choose .Select-menu-outer,
#item-choose .Select-menu-outer {
  border: 0.5px solid #7C6A5B;
}

.VirtualizedSelectFocusedOption {
    background-color: #FAEAD9;
}

#header-description {
  position: relative;
  top: 0;
  left: 0;
  height: 73px;
  padding-top: 4px;
  line-height: 22px;
  text-align: justify;
  display: flex;
  align-items: center;
}

/* 3. First row style. */

#first-row-container {
  position: absolute;
  width: 100%;
  top: 207.2px;
  left: 0;
  height: 500px;
  margin: 0;
  padding: 0;
}

/* 3.1 Menu style. */
#menu-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 31.9449782%;
  height: 100%;
  padding: 10px;
  overflow-y: scroll;
}

/* 3.1.1 Date-picker-range style. */
#menu-container #date-picker-range {
  margin-bottom: 8px;
  position: relative;
}
#menu-container #date-picker-range .DateRangePickerInput {
  height: 40px;
  border: 0.9px solid #7C6A5B;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding-left: 1%;
}
#menu-container #date-picker-range .DateInput_input {
  height: 28.8px;
  width: 80%;
  line-height: 28.8px;
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.0625rem;
  font-weight: 300;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#menu-container #date-picker-range .DateInput_input__focused {
  border-bottom: 1.5px solid #7C6A5B;
}
#menu-container #date-picker-range .DateRangePickerInput_arrow_svg,
#menu-container #date-picker-range .DayPickerNavigation_svg__horizontal,
#menu-container #date-picker-range .DateRangePickerInput_clearDates_svg {
  fill: black;
}

#menu-container #date-picker-range .DayPickerNavigation_button__default:active {
  outline: 0;
}

#menu-container #date-picker-range .DateInput_fangStroke {
  stroke: #7C6A5B;
}
#menu-container #date-picker-range .DateRangePicker_picker {
  border: 1px solid #7C6A5B;
  border-radius: 5px;
}
#menu-container #date-picker-range .DayPicker {
  border-radius: 5px;
}
#menu-container #date-picker-range .DayPicker_weekHeader,
#menu-container #date-picker-range .CalendarMonth_caption {
  color: black;
}
#menu-container #date-picker-range .DayPickerNavigation_button {
  color: black;
  border: 0.9px solid #7C6A5B;
}
#menu-container #date-picker-range .CalendarDay__default {
  border: 0.9px solid #9B9B9B;
}
#menu-container #date-picker-range .CalendarDay__selected_span {
  color: black;
  background: #FAEAD9;
  border: 0.9px solid #7C6A5B;
}
#menu-container #date-picker-range .CalendarDay__selected_span:hover {
  background: #CCAE8F;
  border: 0.9px solid #7C6A5B;
  color: #FFF;
}
#menu-container #date-picker-range .CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover, .CalendarDay__default:hover {
  background: #CCAE8F;
  border: 0.9px solid #7C6A5B;
  color: #FFF;
}
#menu-container #date-picker-range .DayPickerKeyboardShortcuts_show__bottomRight::before {
  border-right-color: #CCAE8F;
  border-bottom-right-radius: 5px;
 }
#menu-container #date-picker-range .CalendarDay__hovered_span {
  color: black;
  background: #FAEAD9;
}
#menu-container #date-picker-range .CalendarDay__hovered_span:hover {
  background: #CCAE8F;
  border: 0.9px solid #7C6A5B;
  color: #FFF;
}
#menu-container #date-picker-range .CalendarDay__blocked_out_of_range:hover {
  background: #FFF;
  color: #CACCCD;
}
#menu-container #date-picker-range .CalendarDay__blocked_out_of_range.CalendarDay__selected_span {
  color: #CACCCD;
}
#menu-container #date-picker-range .DateRangePickerInput_clearDates_default:hover {
  background: #CCAE8F;
}

/* 3.1.2 Menu label style. */
#menu-container .menu-label {
  position: relative;
  height: 27.2px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 8px;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 27.2px;
}

/* 3.1.3 Menu Help style. */
#tooltip-button {
  position: absolute;
  top: 0;
  right: 0;
  background: 0 0;
  border: 0;
  padding: 0;
  width: 0;
  height: 0;
  border-right: 51px solid #7C6A5B;
  border-bottom: 51px solid transparent;
  cursor: pointer;
  z-index: 1;
}

#tooltip-button::before {
  content: '?';
  position: absolute;
  top: 4px;
  left: 30px;
  color: #FFF;
  font-size: 1.125rem;
  font-weight: 500;
}

#tooltip-container {
  position: absolute;
  top: 0;
  right: 50px;
  width: calc(100% - 59px);
  padding: 0;
  z-index: 2;
}

/* 3.1.4 Menu store type and items type style. */
#menu-container #store-kind,
#menu-container #product-type {
  position: relative;
  height: auto;
  width: 100%;
  margin-bottom: 8px;
}

#menu-container #store-kind input,
#menu-container #product-type input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 2.87%;
  height: 12px;
  border: 1.5px solid #7C6A5B;
  transition: 0.1s all linear;
  outline: none;
  position: relative;
  top: 4px;
  margin: 2.5px 3px 2.5px 0px;
}

#menu-container #store-kind input:checked,
#menu-container #product-type input:checked {
  border: 4px solid #7C6A5B;
}
#menu-container #store-kind input:hover,
#menu-container #product-type input:hover {
  cursor: pointer;
}
#menu-container #store-kind input:disabled,
#menu-container #product-type input:disabled {
  border: 1.5px solid #B1B1B0;
}

#menu-container #category-choose, #menu-container #item-choose {
  position: relative;
  margin-bottom: 8px;
}

#menu-container #category-choose .Select--multi .Select-value,
#menu-container #item-choose .Select--multi .Select-value {
  background-color: #FAEAD9;
  border: 0.5px solid #7C6A5B;
  color: black;
}

#menu-container #category-choose .Select--multi .Select-value-icon,
#menu-container #item-choose .Select--multi .Select-value-icon {
    border-right: 0.5px solid #7C6A5B;
    color: black;
}

#menu-container #category-choose .Select--multi .Select-value-icon:hover,
#menu-container #item-choose .Select--multi .Select-value-icon:hover {
  background-color: #CCAE8F;
  font-weight: bold;
}

#menu-container #category-choose .Select-clear-zone:hover,
#menu-container #item-choose .Select-clear-zone:hover {
  color: black;
}

/* 3.1.5 Menu buttons style. */
#full-button-container{
  position: relative;
  margin-top: 30px;
  padding: 0;
  display: flex;
  justify-content: center;
}

.button-container {
  flex: 1 1 14.3333334%;
  height: 40px;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 10px;
  background-color: #FAEAD9;
  border: 0.9px solid #7C6A5B;
  cursor: pointer;
}

.button-container:hover {
  color: #FFF;
  background-color: #CCAE8F;
  border-width: 2px;
}

#submit-button {
  margin-right: 18.1%;
}

#clear-button {
  margin-left: 18.1%;
}

/* 3.1.6 Menu error messages style. */
#err {
  position: relative;
  top: 10px;
  color: red;
}

/* 3.2 Mini containers and graph-1 style. */
#first-row-right-side-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 65.971924%;
  margin: 0;
  padding: 0;
}

/* 3.2.1 Mini containers style. */
#aggregation-container {
  position: relative;
  height: 52px;
  display: flex;
  justify-content: center;
  margin: 0px 0px 9px 0px;
}

.aggregation-point {
  display: flex;
  text-align: center;
  flex: 1 1 14.3333334%;
  padding: 0;
  margin: 0 3.17460317% 0 0;
  justify-content: space-around;
}

.bi-cart4, .bi-calendar3, .bi-cash-coin, .bi-boxes {
  color: #FFF;
  font-size: 1.5625rem;
}

.aggregation-info {
  flex: 1 1 75%;
}

.aggregation-icon {
  flex: 1 1 25%;
  background-color: #7C6A5B;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border: 1px solid #7C6A5B;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aggregation-value {
  height: 65%;
  display: flex;
  font-size: 2.1875rem;
  padding: 0 10px;
  justify-content: flex-start;
  align-items: center;
}

.aggregation-label {
  height: 35%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
  font-size: 0.75rem;
}

.aggregation-point:last-child {
  margin-right: 0;
}

/* 3.2.2 Graph-1 style. */
/* 3.2.2.1 Graph-1 figure style. */
#graph-1-container {
  position: relative;
  height: 439px;
  padding: 0px 10px 10px 10px;
  z-index: 1;
}
#graph-1 {
  position: relative;
  height: 380px;
  width: 100%;
  z-index: 1;
}

#graph-1 .legend .traces .legendtoggle {
  display: none;
}

#graph-1 .legend .traces .legendtext {
  cursor: default;
}

.graph-title-container {
  position: relative;
  top: 0;
  left: 0;
  height: 45px;
  padding: 0;
}

.graph-name {
  position: relative;
  float: left;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  height: 45px;
  line-height: 45px;
}

/* 3.2.2.2 Graph-1 help style. */
.help-button-container {
  position: relative;
  float: left;
  height: 45px;
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.help-button {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 2px solid #7C6A5B;
  background-color: #7C6A5B;
  color: #FFFFFF;
  font-size: 1rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.help-button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 4px #8C7969;
}

#graph-1-help-container {
  position: relative;
  float: left;
  margin-left: 5px;
}

/* 4. Second row style. */
/* 4.1 Synchronization style. */
/* 4.1.1 Synchronization container style. */
#full-sync-switch-container {
  position: absolute;
  top: 727.2px;
  width: 31.9449782%;
  height: 39px;
}

#sync-switch-container {
  position: absolute;
  top: 0;
  left: 10px;
  width: 70%;
  height: 35px;
}
/* 4.1.2 Synchronization title style. */
#sync-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 65%;
  height: 35px;
  line-height: 35px;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
}
/* 4.1.3 Synchronization radioitems style. */
#sync-switch {
  position: absolute;
  top: 0;
  left: calc(65% + 10px);
  height: 35px;
  line-height: 35px;
}

#sync-switch input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  border: 1.5px solid #7C6A5B;
  transition: 0.1s all linear;
  outline: none;
  position: relative;
  top: 4px;
  margin: 2.5px 3px 2.5px 0px;
}

#sync-switch input:checked {
  border: 4px solid #7C6A5B;
}

#sync-switch input:hover {
  cursor: pointer;
}

#sync-switch label {
  margin-right: 10px;
}

#sync-switch label:last-child {
  margin-right: 0px;
}
/* 4.1.4 Synchronization help style. */
#help-button-sync-container {
  position: absolute;
  top: 0;
  right: 10px;
  height: 35px;
}
/* 4.2 Graphs' 2,3,4 container style. */
#second-row-container {
  position: absolute;
  top: 782.2px;
  left: 0;
  width: 100%;
  height: 439px;
  padding: 0;
  margin: 0;
}
/* 4.3 Grpah's 2 container style. */
#graph-2-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 31.9449782%;
  padding: 0px 10px 10px 10px;
}

#graph-2 {
  position: relative;
  height: 380px;
  width: 100%;
  z-index: 1;
}
/* 4.4 Grpah's 3,4 container style. */
#graph-3-4-container {
  position: absolute;
  width: 65.971924%;
  height: 439px;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0px 10px 10px 10px;
}

#plot-3-4-container {
  position: relative;
  width: 100%;
  height: 380px;
  z-index: 1;
}

#graph-3-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 49%;
  height: 380px;
  border: 0;
  background-color: white;
  z-index: 1;
}

#graph-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 49%;
  height: 380px;
  z-index: 1;
}

#graph-4-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 49%;
  height: 380px;
  border: 0;
  background-color: white;
  z-index: 1;
}

#graph-4 {
  position: absolute;
  top: 0;
  right: 0;
  width: 49%;
  height: 380px;
  z-index: 1;
}

/* 5. Others table style. */
/* 5.1 Others table button style. */
#others-table-button:hover {
  cursor: pointer;
}

#others-table-button:disabled {
  cursor: not-allowed;
}

/* 5.2 Table style. */
#others-table-container .dash-table-container th {
  white-space: normal;
  border: 1px solid white;
  background-color: #7C6A5B;
  color: white;
  font-family: 'Oswald', sans-serif !important;
  font-weight: 300 !important;
  font-size: 1.125rem !important;
}

#others-table-container .dash-spreadsheet-container tr:nth-child(odd) td.dash-cell.cell--selected.focused {
  background-color: white !important;
  border: 0.9px solid #7C6A5B;
}

#others-table-container .dash-spreadsheet-container tr:nth-child(even) td.dash-cell.cell--selected.focused {
  background-color: #FFF6EC !important;
}

#others-table-container .dash-table-container td {
  border: 0.9px solid #7C6A5B !important;
  color: black !important;
}

#others-table-container .dash-table-container td div.unfocused.dash-cell-value:hover {
  cursor: default;
}

#others-table-container .dash-table-container .dash-tooltip {
  padding: 5px;
  text-align: justify;
  border: 1px solid #7C6A5B;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #8C7969;
  background-color: #FAEAD9;
}

#others-table-container .dash-table-container .dash-table-tooltip {
  background-color: #FAEAD9;
}

#others-table-container .dash-tooltip:before, .dash-tooltip:after {
  border-bottom-color: black !important;
}

#others-table-container .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner .column-header--sort {
  color: white;
}

#others-table-container .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner .column-header--sort:hover {
  color: #FCE2AA;
}

#others-table-container .dash-table-container .previous-next-container .page-number .current-page-container .current-page-shadow,
#others-table-container .dash-table-container .previous-next-container .page-number .current-page-container input.current-page {
  font-family: 'Source Sans Pro', sans-serif;
  border-bottom: 1px solid #7C6A5B !important;
}

#others-table-container .dash-table-container .previous-next-container .page-number .last-page {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
}

#others-table-container .dash-table-container .previous-next-container button.previous-page,
#others-table-container .dash-table-container .previous-next-container button.next-page,
#others-table-container .dash-table-container .previous-next-container button.first-page,
#others-table-container .dash-table-container .previous-next-container button.last-page {
  background-color: #7C6A5B;
  border: 0;
  color: white;
  cursor: pointer;
}

#others-table-container .dash-table-container .previous-next-container button.previous-page:disabled,
#others-table-container .dash-table-container .previous-next-container button.next-page:disabled,
#others-table-container .dash-table-container .previous-next-container button.first-page:disabled,
#others-table-container .dash-table-container .previous-next-container button.last-page:disabled {
  background: rgba(124,106,91,0.5);
  cursor: default;
}

#others-table-container .dash-table-container .previous-next-container button.previous-page:not(:disabled):hover,
#others-table-container .dash-table-container .previous-next-container button.next-page:not(:disabled):hover,
#others-table-container .dash-table-container .previous-next-container button.first-page:not(:disabled):hover,
#others-table-container .dash-table-container .previous-next-container button.last-page:not(:disabled):hover {
  color: #FCE2AA;
}

/* 6. Third and fourth rows style. */
/* 6.1 Third row container style. */
#third-row-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 439px;
  border: 0;
  background-color: transparent;
}

/* 6.2 Style of graphs 5 and 6.*/
#graph-5 .legend .traces .legendtoggle, #graph-6 .legend .traces .legendtoggle {
  display: none;
}

#graph-5 .legend .traces .legendtext, #graph-6 .legend .traces .legendtext  {
  cursor: default;
}

#graph-5-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 48.9584464%;
  height: 439px;
  padding: 0px 10px;
}

#graph-5 {
  position: relative;
  height: 380px;
  width: 100%;
  z-index: 1;
}

#graph-6-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 48.9584464%;
  height: 439px;
  padding: 0px 10px;
}

#graph-6 {
  position: relative;
  height: 380px;
  width: 100%;
  z-index: 1;
}

/* 6.3 Fourth row container style. */
#fourth-row-container {
  position: absolute;
  top: 459px;
  left: 0;
  width: 100%;
  height: 439px;
  border: 0;
  background-color: transparent;
}

#arrow-1-container {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(25.5207768% - 10px);
  height: 439px;
}

#graph-7-container {
  position: absolute;
  top: 0;
  left: 25.5207768%;
  width: 48.9584464%;
  height: 439px;
  padding: 0px 10px;
}

#graph-7 {
  position: relative;
  width: 100%;
  height: 380px;
  z-index: 1;
}

#arrow-2-container {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(25.5207768% - 10px);
  height: 439px;
}

/* 7. Footer style. */
.footer-block {
  position: relative;
  height: 20px;
  width: 50%;
  font-size: 1rem;
  line-height: 20px;
  margin-bottom: 5px;
}

.footer-block:last-child {
  margin-bottom: 0;
}
