@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.cdnfonts.com/css/source-sans-pro');

:root {
    --bg-color: rgb(18, 18, 18);
    --card-bg-color: rgb(30, 30, 30);
    --select-item-color: rgb(42, 42, 42);
    --main-text-color: rgb(238, 238, 238);
    --sup-text-color: rgb(189, 189, 189);
    --weekend-color: rgb(100, 181, 246);
    --workweek-color: rgb(246, 166, 100);
    --calendar-day-font-color: rgb(34, 34, 34);
    --error-color: rgb(207, 102, 121);
    --disabled-color: rgba(238, 238, 238, 0.3);
    --sum-icon-color: rgba(238, 238, 238, 0.16);
    --main-blur-color: rgba(100, 181, 246, 0.75);
    --calendar-blur-color: rgba(100, 181, 246, 0.85);
    --base-font: 400 14px "Source Sans Pro", sans-serif;
    --figure-title-font: 400 20px "Oswald", sans-serif;
    --menu-item-label-font: 400 18px "Oswald", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--bg-color);
    font: var(--base-font);
}

input {
    color: var(--sup-text-color);
}

/* Main */
main {
    padding: 50px;
    padding-bottom: 30px;
}

/* First row */
#first-row-container {
    display: flex;
    flex-direction: row;
    height: 490px;
}

.card {
    background-color: var(--card-bg-color);
}

/* Total expenses plot */
#total-expenses-container {
    height: 100%;
    max-height: 100%;
    width: 773px;
    display: flex;
    flex-direction: column;
}

.custom-plot {
    padding: 10px 20px;
}

.figure-title {
    font: var(--figure-title-font);
    color: var(--main-text-color);
    margin-bottom: 5px;
    display: block;
    position: relative;
}

.figure-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.xtick,
.ytick {
    font-weight: 300;
    font-family: 'Source Sans Pro, sans-serif';
}

.xtitle,
.ytitle {
    font-weight: 600 !important;
}

.legendtoggle{
    cursor: default !important;
}

.summary-aside.vertical {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#total_expenses_summary {
    width: 207px;
    height: 100%;
    margin-left: 20px;
}

/* Summary item */
.summary-item {
    height: 90px;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.summary-value-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.summary-value {
    font: var(--figure-title-font);
    color: var(--main-text-color);
    max-width: 101px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.summary-icon {
    height: 30px;
    width: 30px;
}

.summary-label {
    font: var(--base-font);
    color: var(--workweek-color);
}
