@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Source+Sans+3&display=swap');

:root {
    --bg-color: rgb(18, 18, 18);
    --card-bg-color: rgba(255, 255, 255, 0.05);
    --main-text-color: rgb(238, 238, 238);
    --sup-text-color: rgb(189, 189, 189);
    --weekend-color: rgb(100, 181, 246);
    --workweek-color: rgb(246, 166, 100);
    --base-font: 400 14px "Source Sans 3", sans-serif;
    --title-font: 400 20px "Oswald", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
